@use '../../../../../styles.scss' as *;
@use '../../../../../styles/abstracts/variables.scss' as *;
@use '../../../../../styles/abstracts/breakpoints.scss' as *;

.section {
  display: flex;
  justify-content: center;
  height: 100dvh;
  width: 100%;
}

.section[data-theme='light'] {
  background-color: $bg-white;
  color: $bg-black;
}

.section[data-theme='dark'] {
  background-color: $bg-black;
  color: $bg-white;
}

.section[data-theme='color'] {
  background-color: $bg-color;
  color: $bg-white;
}

.container {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  // padding: 160px 72px 0 112px;
  padding: 160px clamp(32px, 5vw, 72px) 0 clamp(48px, 8vw, 112px);
}

app-hero-section,
app-about-me-section,
app-skills-section,
app-projects-section,
app-references-section,
app-contact-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
app-side-navigation {
  background: var(--bg-color);
  color: var(--text-color);
}

@media (max-width: $bp-xl) {
  .container {
    padding: 110px 42px 0 42px;
  }
}
