@use '../../../../../styles.scss' as *;

.section {
  background: var(--bg-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1440px;
}
