@use '../../../../styles/abstracts/variables.scss' as *;
@use '../../../../styles/abstracts/breakpoints.scss' as *;
@use '../../../../styles/abstracts/keyframes.scss' as *;

:host ::ng-deep .portfolio-highlight {
  color: $highlight-primary;
}

:host ::ng-deep .developer-highlight {
  color: $highlight-primary;
}

:host ::ng-deep .imprint-header header {
  background-color: $bg-black;
  z-index: 100;
}

.imprint-page {
  background: $bg-black;
  color: $bg-white;
  width: 100%;

  h4 {
    color: $highlight-secondary;
    margin-top: 24px;
  }

  h5 {
    color: $highlight-secondary;
    margin-top: 24px;
  }

  ul {
    margin-top: 24px;
  }

  li {
    margin-left: 24px;
  }

  .paragraph {
    margin-top: 16px;
  }
}

.arrow {
  display: none;
}

.imprint-section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;

  .container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;

    .content {
      padding: 160px 72px 80px 112px;
    }

    .imprint-content {
      flex: 1;
    }
  }
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0 72px 80px 112px;

  .animation-wrapper {
    position: relative;
    width: 375px;
    height: 265px;
    max-width: 100%;

    .pink-star {
      width: 180px;
      height: 180px;
      position: absolute;
      left: 0;
      bottom: 0;
      animation: spin-right 10s linear infinite;
    }

    .green-star {
      width: 265px;
      height: 265px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      animation: spin-left 10s linear infinite;
    }
  }
}

@media (max-width: ($bp-desktop - 1px)) {
  .footer-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 40px;

    app-footer {
      order: 1;
      width: 100%;
    }

    .animation-wrapper {
      order: 2;
      width: clamp(300px, 80vw, 375px);
      height: clamp(240px, 60vw, 265px);

      .pink-star {
        width: clamp(160px, 38vw, 180px);
        height: clamp(160px, 38vw, 180px);
      }

      .green-star {
        width: clamp(240px, 56vw, 263px);
        height: clamp(240px, 56vw, 263px);
      }
    }
  }

  .arrow {
    height: 32px;
    width: 48px;
    display: flex;
    justify-content: end;
    margin-bottom: 24px;

    img {
      display: block;
      transform: rotate(-90deg);
      width: 16px;
    }
  }
}

@media (min-width: $bp-phone) and (max-width: ($bp-tablet - 1px)) {
  .imprint-section {
    .container {
      .content {
        padding: 120px 48px 48px 48px;
      }
    }
  }

  .footer-wrapper {
    padding: 0 48px 48px 48px;
  }
}

@media (max-width: ($bp-phone - 1 px)) {
  .imprint-section {
    .container {
      .content {
        padding: 120px 24px 48px 24px;
      }
    }
  }

  .footer-wrapper {
    padding: 0 8px 0 8px;

    .animation-wrapper {
      .pink-star,
      .green-star {
        animation: none;
      }
    }
  }

  .arrow {
    img {
      width: 8px;
    }
  }
}
