@use '../../../../../styles/abstracts/variables.scss' as *;

footer{
  width: 739px;
  height: 19px;
  display: flex;
  justify-content: space-between;
  .footer-links{
    width: 259px;
    height: 19px;
    display: flex;
    justify-content: space-between;
  }
  a{
    color: $bg-white;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    &:hover{
      color: $highlight-primary;
    }
  }
}
