@use '../../../../../styles/abstracts/variables.scss' as *;
@use '../../../../../styles/abstracts/breakpoints.scss' as *;

footer {
  width: 740px;
  height: 19px;
  display: flex;
  justify-content: space-between;
  color: $bg-white;
  .footer-links {
    width: 259px;
    height: 19px;
    display: flex;
    justify-content: space-between;
  }
  a {
    color: $bg-white;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    &:hover {
      color: $highlight-primary;
    }
  }
}

@media (min-width: $bp-desktop) and (max-width: $bp-desktop-xl) {
  footer {
    width: clamp(500px, calc(500px + (100vw - 1024px) * 0.5769), 740px);
  }
}

@media (max-width: ($bp-desktop - 1px)) {
  footer {
    width: 100%;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
  }
}

@media (max-width: 550px) {
  footer {
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .footer-links {
      width: 100%;
      gap: 24px;
      flex-wrap: wrap;
    }
  }
}
