<div class="skills-content">
  <div class="skills-top">
    <h2>{{ 'skills.title' | translate }}</h2>
    <div class="skills-description">
      <article>
        {{ 'skills.description' | translate }}
      </article>
    </div>
  </div>
  <div class="skills-bottom">
    <div class="spinner" (click)="openOverlay()">
      <img
        src="icons/star_pink_mid.svg"
        alt="Spinner"
        class="spinner-icon"
        (mouseenter)="showMore = true"
        (mouseleave)="showMore = false"
      />
      <img
        src="icons/mortarboard.svg"
        alt="Education Image"
        class="spinner-img"
        (mouseenter)="showMore = true"
        (mouseleave)="showMore = false"
      />
    </div>
    <div class="more-skills" [class.visible]="showMore">
      <div class="close-button" (click)="closeOverlay()">
        <img src="icons/close_white.svg" alt="Close Icon" />
      </div>
      <h4>{{ 'skills.overlay.title' | translate }}</h4>
      <article>
        {{ 'skills.overlay.description' | translate }}
      </article>
      <div class="more-skills-list">
        <div class="more-skills-items">
          <img src="icons/react.svg" alt="React" />
          <p>React</p>
        </div>
        <div class="more-skills-items">
          <img src="icons/vuejs.svg" alt="Vue.js" />
          <p>Vue.js</p>
        </div>
        <div class="more-skills-items">
          <img src="icons/cicd.svg" alt="CI/CD" />
          <p>CI/CD</p>
        </div>
      </div>
    </div>
    <div class="skills-main">
      <div class="skills-switch">
        <button
          type="button"
          [class.active]="activeSkillCategory === 'frontend'"
          (click)="activeSkillCategory = 'frontend'"
        >
          Frontend
        </button>

        <button
          type="button"
          [class.active]="activeSkillCategory === 'backend'"
          (click)="activeSkillCategory = 'backend'"
        >
          Backend
        </button>
      </div>
      <div class="skills-list-left">
        <div class="skills-list">
          @if (activeSkillCategory === 'frontend') {
            <div class="skills-list-items">
              <img src="icons/html.svg" alt="HTML" class="skills-items" />
              <p>HTML</p>
            </div>
            <div class="skills-list-items">
              <img src="icons/css.svg" alt="CSS" class="skills-items" />
              <p>CSS</p>
            </div>
            <div class="skills-list-items">
              <img src="icons/sass.png" alt="Sass" class="skills-items" />
              <p>Sass</p>
            </div>

            <div class="skills-list-items">
              <img src="icons/js.svg" alt="JavaScript" class="skills-items" />
              <p>JavaScript</p>
            </div>
            <div class="skills-list-items">
              <img src="icons/ts.svg" alt="TypeScript" class="skills-items" />
              <p>TypeScript</p>
            </div>
            <div class="skills-list-items">
              <img src="icons/angular.svg" alt="Angular" class="skills-items" />
              <p>Angular</p>
            </div>

            <div class="skills-list-items">
              <img src="icons/supabase.svg" alt="Supabase" class="skills-items" />
              <p>Supabase</p>
            </div>
            <div class="skills-list-items">
              <img src="icons/git.svg" alt="Git" class="skills-items" />
              <p>Git</p>
            </div>
            <div class="skills-list-items">
              <img src="icons/scrum.svg" alt="Scrum" class="skills-items" />
              <p>Scrum</p>
            </div>
          }
          @if (activeSkillCategory === 'backend') {
            <div class="skills-list-items">
              <img src="icons/python.svg" alt="Python" class="skills-items" />
              <p>Python</p>
            </div>

            <div class="skills-list-items">
              <img src="icons/django.svg" alt="Django" class="skills-items" />
              <p>Django</p>
            </div>

            <div class="skills-list-items">
              <img src="icons/rest_api.svg" alt="REST API" class="skills-items" />
              <p>REST API</p>
            </div>

            <div class="skills-list-items">
              <img src="icons/postgre_sql.svg" alt="PostgreSQL" class="skills-items" />
              <p>PostgreSQL</p>
            </div>

            <div class="skills-list-items">
              <img src="icons/docker.svg" alt="Docker" class="skills-items" />
              <p>Docker</p>
            </div>

            <div class="skills-list-items">
              <img src="icons/linux.svg" alt="Linux" class="skills-items" />
              <p>Linux</p>
            </div>

            <div class="skills-list-items">
              <img src="icons/git.svg" alt="Git" class="skills-items" />
              <p>Git</p>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
