@use '../../../../styles/abstracts/breakpoints.scss' as *;

.hero-content {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 710px;
}

.hero-left {
  max-width: 450px;
}

.greeting {
  margin-bottom: clamp(24px, 3vw, 40px);
  min-height: clamp(240px, 22vw, 304px);
  line-height: 1;
}

.wrapper-name {
  width: clamp(360px, 32vw, 456px);
  height: 192px;
  min-height: clamp(144px, 14vw, 192px);
  overflow-wrap: break-word;

  h1 {
    margin-top: 8px;
  }
}

.scroll-down {
  position: relative;
  width: clamp(104px, 10vw, 144px);
  height: clamp(104px, 10vw, 144px);
  margin-top: clamp(48px, 6vw, 90px);
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(32px, 3vw, 40px);
  height: 38px;
  z-index: 10;
  pointer-events: none;
}

.spinner {
  animation: spin 10s linear infinite;
  width: 100%;
  height: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hero-right {
  position: relative;
  width: clamp(660px, 50vw, 720px);
  max-height: clamp(700px, 51vw, 710px);
  display: flex;
  justify-content: center;
  align-items: end;
}

.star {
  width: clamp(450px, 35vw, 500px);
  height: clamp(450px, 35vw, 500px);
  position: absolute;
}

.big-green {
  bottom: 0;
  left: 0;
}

.big-pink {
  top: 0;
  right: 0;
}

.profile-img {
  z-index: 999;
  width: 90%;
  height: 90%;
  object-fit: contain;
}


@media (min-width: $bp-lg) and (max-width: 1439px) {
  .hero-left {
    max-width: 380px;
  }

  .hero-right {
    position: relative;
    max-width: 630px;
  }
}
